@font-face {
    font-family: OpenSansExtraBold;
    src: url(Fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSansBold;
    src: url(Fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSansRegular;
    src: url(Fonts/OpenSans-Regular.ttf);
}

html {
    --text: #345a8b;
    --background: #e4f5fd;
    --primary: #c9f0b3;
    --secondary: #fcffb3;
    --accent: #f5daf9;

    --ff-body: "OpenSansRegular", sans-serif;
    --ff-heading: "OpenSansExtraBold", serif;
    --ff-sub-heading: "OpenSansBold", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Crimson Text";
    font-size: 5mm;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
    border: 30px solid #f5daf9;
}

h1 {
    background-color: var(--primary);
    padding: 1.2em;
    font-family: var(--ff-heading);
    color: var(--text)
}


h3, h2 {
    color:var(--text);
    font-size: 1.5em;
    font-weight: 200;
    text-orientation: sideways;
    font-family: var(--ff-heading);
}

.header-with-border {
    border: 5px solid #e4f5fd; /* Width, style, and color */
    padding: 10px; /* Optional: Adds space between the text and the border */
}

ul {
    font-style: italic;
    text-decoration-line: none;
}

p.large {
    font-size: 1.5em;
}

ul, ol, h5 {
    font-family: var(--ff-body);
}
p {
    font-family: var(--ff-body);
    margin-bottom: 1.5em;
}
ol {
    padding: 0.9em;
}

.grid__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.grid__container a {
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    margin: 1.5em 1em 0.5em 1em;
    width: 18rem;
    height: 16rem;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    border: 7px solid var(--primary);
}

.main-content {
    margin: 0.4em;
    margin-left: 30px;
    margin-right: 30px; 
}

.btn_img{
    width: 22rem;
}

.grid__container a p {
    font-family: var(--ff-sub-heading);
    color: var(--text);
}
.image-border {
  border: 5px solid #fcffb3;
}
.header-border {
  border: 7px solid #f5daf9;
  background-color: #f6f1f7;
}
.infoHeader-border {
  border: 7px solid #c9f0b3;
  background-color: #c9f0b3;
}
.btn-background {
  border: 7px solid #c9f0b3;
  background-color: #edf5f8;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}